@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@variant dark (&:is(.dark *));
@variant strawberry (&:is(.strawberry *));
@variant dark-strawberry (&:is(.dark-strawberry *));
@variant ocean (&:is(.ocean *));
@variant dark-ocean (&:is(.dark-ocean *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
